html, body{
    height: 100%;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

#background-top{
    position: absolute;
    z-index: -1;
}

#background-bottom{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: 0px;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(33, 3%);
    grid-template-rows: repeat(25, 4%);
}

.main-heading{
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 15;
    font-size: 50px;
    line-height: 8vh;
    font-weight: 900;
    color: #511F50FF;
}

.sub-text{
    grid-row-start: 10;
    grid-column-start: 5;
    grid-column-end: 15;
    font-size: 15px;
}

.ratings{
    background-color: #F7F2F8FF;
}

.rating-1{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 18;
    grid-column-end: 29;
}

.rating-2{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 19;
    grid-column-end: 30;
}

.rating-3{
    grid-row-start: 10;
    grid-row-end: 12;
    grid-column-start: 20;
    grid-column-end: 31;
}

.stars{
    float: left;
    margin: 4%;
}

.rating-text{
    margin: 4%;
    position: relative;
    left: 20px;
    font-weight: bold;
    color: #511F50FF;
}

.reviews{
    background-color: #511F50FF;
    border-radius: 10px;
    height: fit-content;
    padding: 10%;
    color: whitesmoke;
}

.review-1{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 14;
}

.review-2{
    grid-column-start: 14;
    grid-column-end: 22;
    grid-row-start: 15;
}

.review-3{
    grid-column-start: 23;
    grid-column-end: 31;
    grid-row-start: 16;
}

.reviews img{
    border-radius: 50%;
    width: 20%;
    margin: 0% 10% 5% 0%;
    float: left;
}

.name{
    font-size: 100%;
    font-weight: bold;
    position: relative;
}

.verified{
    font-size: 90%;
    color: #C279AEFF;
}

.comment{
    font-size: 80%;
    line-height: 3.5vh;
    color: whitesmoke;
    clear: left;
}

.attribution{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
}